{% extends "layout.html" %}

{% block content %}

    <div class="row-login">
          <div class="column-login">
            <h3 style="text-align:center">Welcome</h3>
            <div style="text-align: center"><i class="glyphicon glyphicon-list-alt glyphicon-login"></i></div>
            <hr />
            <form method="POST" action="/login">
              <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" name="username"  placeholder="Username">
              </div>
              <div class="form-group">
                <label for="passwordfield">Password</label>
                <input type="password" class="form-control" id="passwordfield" name="password"  placeholder="Password">
              </div>
              <button type="submit" class="btn btn-login">Login</button>
              <hr />
            </form>     
          </div>
    </div>
{% endblock %}
