{% extends "layout.html" %} 

{% block content %}

<div id="todos">
    <div class="row-todos">
        <div class="column-todos">
            <div style="text-align: center;">
                <h3>Your To-DO List</h3>
            </div>
            <hr>
            <div class="input-group">
                <input type="text" v-model="newTodoDescription" class="form-control" placeholder="Description..." aria-describedby="description">
                <span class="input-group-btn" @click="this.createToDo" >
                    <button class="btn btn-login btn-default " type="button" :disabled="isDisabled" >Add Todo</button>
                </span>
              </div>

            </br>


            <div>
                <table class="table">              
                    <tr v-for="todo in toDoList" v-bind:key="todo.id">
                        <td class="cell-border-down" :class="{textDecoration: todo.is_completed}">
                            <input type="checkbox" id="checkbox" v-model="todo.is_completed" @click="markCompleted(todo)"/>
                            ${todo.description}</td>
                        <td class="cell-border-down" style="text-align: right;">
                            <button @click="deleteToDo(todo)" type="button" class="btn btn-xs ">
                                <span class="glyphicon glyphicon-remove glyphicon-white"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="vertical-align: bottom; display: table-cell;">
                <button type="submit" class="btn btn-login" @click="logout()">Logout</button>
            </div>
        </div>
    </div>
    
</div>

<script>
    var todos = new Vue({
        el: '#todos',
        data: {
            user_id: '{{ user.id }}',
            isError: false,
            toDoList: [],
            toDoListIsLoading: true,
            newTodoDescription: '',
        },
        computed: {
            isDisabled() {
            if(this.newTodoDescription.length == 0) {
                return true
            }
      },
    },
        methods: {
            getToDos: function() {
                this.toDoListIsLoading = true;
                axios({
                    method: 'get',
                    url: '{{app.request.baseurl}}/todo',
                    data: {},
                    headers: { 'Content-Type': 'application/json' },
                })
                    .then(result => {                    
                        this.toDoList = result.data;
                    })
                    .catch(error => {
                        console.log(error);
                        this.isError = true;
                    })
                    .finally(() => {
                        this.toDoListIsLoading = false;
                    });
            },
            createToDo: async function() {
                // Clear the input now, so the user gets instant feedback


                const description = this.newTodoDescription;
                this.newTodoDescription = '';
                const params = new URLSearchParams();
                params.append('description', description);
                axios({
                    method: 'post',
                    url: '{{app.request.baseurl}}/todo/add',
                    data: params
                }).then(result => {
                        this.toDoList.push(result.data);
                    }).catch(error => {
                        console.log(error);
                        this.isError = true;
                    });
            
            },
            deleteToDo: function(toDo) {
                // Find the index of the todo to be deleted
                const toDoToDeleteIndex = this.toDoList.findIndex(t => t.id === toDo.id);             

                axios({
                    method: 'delete',
                    url: `{{app.request.baseurl}}/todo/delete/${toDo.id}`,
                    data: {},
                    headers: { 'Content-Type': 'application/json' },
                }).then(()=>{
                    this.toDoList.splice(toDoToDeleteIndex, 1);
                })              
                .catch(error => {
                    console.error(error);
                    this.isError = true;
                });
            },
            markCompleted: function(todo) {
                axios({
                    method: 'PUT',
                    url: `{{app.request.baseurl}}/todo/completed/${todo.id}`,
                    data: {},
                    headers: { 'Content-Type': 'application/json' },
                }).catch(error => {
                    console.error(error);
                    this.isError = true;
                });
            },
            logout: function() {
                axios({
                    method: 'GET',
                    url: `{{app.request.baseurl}}/logout`,
                }).then(() =>{
                    window.location.href = `{{app.request.baseurl}}/`;
                })
                .catch(error => {
                    console.error(error);
                    this.isError = true;
                });
            }
        },
        created: function() {
            this.getToDos();
        },
        delimiters: ['${', '}'],
    });
</script>

{% endblock %}
